@import './rem';
$blueNum: #4EBBFF; // 蓝色数字
$cylinderColor:#257ADB; // 图表柱形颜色
$selector: #255CB5; //  选中
$greenNum: #3BE3A6; // 绿色数字
$redNum: #F66561; // 红色数字
$echartYellow:  #F6E739; // 图表黄
$unSelector:  #041F50; // 未选中
$xyColor: #7385BD; // xy颜色
$desColor: #AEB8D7; // 说明文字颜色
$textColor: #fff; // 文字颜色
$borderColor: #255CB5; // 边界颜色

$font12: px2rem(24);
$font13: px2rem(26);
$font14: px2rem(28);
$font15: px2rem(30);
$font16: px2rem(32);
$font20: px2rem(40);
$font22: px2rem(44);
$font23: px2rem(46);
$font24: px2rem(48);
$font26: px2rem(52);
$font28: px2rem(56);
$font30: px2rem(60);
$font32: px2rem(64);

